# Session #1 HomeWork

In [2]:
import numpy as np
import pandas as pd

# Question 1

> **What’s the version of NumPy that you installed?**

In [3]:
np.__version__

'1.21.2'

# Question 2

> **What’s the version of Pandas?**

In [5]:
pd.__version__

'1.1.5'

# Getting the Data

In [7]:
cars = pd.read_csv(
    "https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv"
)

In [8]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [12]:
cars.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

# Question 3

> **What’s the average price of BMW cars in the dataset?**

In [39]:
bmw = cars.query("Make == 'BMW'")
print(f"The average cars of BMW cars is : {bmw['MSRP'].mean():.2f} USD")

The average cars of BMW cars is : 61546.76 USD

In [40]:
bmw = cars[cars["Make"] == 'BMW']
print(f"The average cars of BMW cars is : {bmw['MSRP'].mean():.2f} USD")

The average cars of BMW cars is : 61546.76 USD

# Question 4

> **Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after).**

In [16]:
cars_2015 = cars.query("Year >= 2015")

In [18]:
cars_2015.shape

(5995, 16)

In [20]:
cars_2015 = cars[cars["Year"] >= 2015]

In [21]:
cars_2015.shape

(5995, 16)

> **How many of them have missing values for Engine HP?**

In [109]:
cars_2015["Engine HP"].isnull().sum().sum()

51

# Question 5
> **Calculate the average “Engine HP” in the dataset.**

In [63]:
mean_hp_before = round(cars["Engine HP"].mean(),4)
print(f"The average Engine HP in the Dataset before replacing missing values is : {mean_hp_before:.4f}")

The average Engine HP in the Dataset before replacing missing values is : 249.3861

> **Use the fillna method and to fill the missing values in “Engine HP” with the mean value from the previous step.**

In [51]:
cars["Engine HP"].isnull().sum()

69

In [55]:
cars["Engine HP_NaN"] = cars["Engine HP"].fillna(value = mean_hp_before)

In [56]:
cars["Engine HP_NaN"].isnull().sum()

0

> **Now, calcualte the average of “Engine HP” again.**

In [62]:
mean_hp_after = round(cars["Engine HP_NaN"].mean(),4)
print(f"The average Engine HP in the Dataset after replacing missing values is : {mean_hp_after:.4f}")

The average Engine HP in the Dataset after replacing missing values is : 249.3861

> **Has it changed?
Round both means before answering this questions. You can use the round function for that:**

In [61]:
if mean_hp_before == mean_hp_after:
    print("No Change observed!")
else:
    print("There's a change observed!")

No Change observed!

# Question 6
> **Select all the “Rolls-Royce” cars from the dataset.**

In [75]:
cars_RL = cars.query("Make == 'Rolls-Royce'")

> **Select only columns “Engine HP”, “Engine Cylinders”, “highway MPG”.**

In [80]:
cars_RL.drop(cars_RL.columns.difference(["Engine HP", "Engine Cylinders", "highway MPG"]), axis = 1, inplace= True)

> **Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).**

In [85]:
cars_RL = cars_RL[~cars_RL.duplicated()]

> **Get the underlying NumPy array. Let’s call it X.**

In [87]:
X = cars_RL.to_numpy()

In [88]:
X.shape

(7, 3)

> **Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let’s call the result XTX.**

In [101]:
XTX = X.T@X

In [102]:
XTX

array([[1.754801e+06, 3.965600e+04, 6.519600e+04],
       [3.965600e+04, 9.280000e+02, 1.500000e+03],
       [6.519600e+04, 1.500000e+03, 2.454000e+03]])

> **Invert XTX**

In [122]:
invXTX = np.linalg.inv(XTX)

In [107]:
invXTX

array([[ 5.17815728e-05,  9.06587044e-04, -1.92984188e-03],
       [ 9.06587044e-04,  1.05723058e-01, -8.87084092e-02],
       [-1.92984188e-03, -8.87084092e-02,  1.05900809e-01]])

> **What’s the sum of all the elements of the result?**

In [108]:
invXTX.sum()

0.03221232067748617

# Question 7

> **Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].**

In [110]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

In [111]:
y.shape

(7,)

In [112]:
y.ndim

1

> **Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.**

In [121]:
w = invXTX.dot(X.T).dot(y)

> **What’s the value of the first element of w?.**

**Note:** You just implemented linear regression. We’ll talk about it in the next lesson.

In [119]:
w[0]

0.19989598183189639